**/dist/
**/_build/

backend.ml
main.ml
myocamlbuild.ml

**/Makefile
!static_website/Makefile
!lwt/Makefile
!dns/Makefile

static_website/src/Makefile
static_website/src/filesystem_static.ml
static_website/src/_build

dns/datax.ml
dns/setup.data

# Generated outputs
*.native
*.cfg
*.xen
*.map
mir-*
/basic_block/disk.raw
**/log
/stackv4/stackv4.xl
/network/network.xl
/ethifv4/ethifv4.xl
/console/console.xl
/io_page/io_page.xl
/lwt/src/heads1.xl
/lwt/src/heads2.xl
/lwt/src/heads3.xl
/lwt/src/timeout1.xl
/lwt/src/timeout2.xl
