_build
.*.swp
.merlin
*.xe
*.xml
backend.ml
main.ml
myocamlbuild.ml
**/Makefile
!lwt/Makefile

# Generated outputs
*.native
*.cfg
*.xen
*.map
*.img
*.xl
*.xl.in
*.xe
*_libvirt.xml
static*.ml
static*.mli
main.ml
mir-*
**/log
make-fat*-image.sh
*_gen.ml